body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #121212;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1f1f1f;
}

.logo img {
    width: 150px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px; 
    margin: 0;
    padding: 0;
}

nav ul li {
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 15px 20px; 
    font-size: 20px; 
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #32CD32; 
}

nav ul li a::after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background: #32CD32; 
    transition: width 0.3s;
}

nav ul li a:hover::after {
    width: 100%;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    transition: all 0.3s ease;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #1f1f1f;
    border: 1px solid #333;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #fff;
}

.search {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 80%;
    box-sizing: border-box;
    background-color: #2b2b2b;
    color: #fff;
}

.search button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #32CD32;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search button:hover {
    background-color: #28a745;
}

#artistsList {
    margin-top: 20px;
}

.artist {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #2b2b2b;
    border: 1px solid #444;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.artist h2 {
    margin: 0;
    cursor: pointer;
}

.artist h2:hover {
    color: #32CD32;
}

.covers {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.covers.show {
    max-height: 1000000000px; 
}

.cover-item {
    margin: 10px 0;
    padding: 10px;
    background-color: #3c3c3c;
    border-radius: 3px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
}

.cover-item:hover {
    background-color: #4d4d4d;
}

.cover-item h3 {
    margin: 0;
    flex-grow: 1;
}

.cover-item img {
    max-width: 100px;
    height: auto;
    margin-right: 10px;
    border-radius: 3px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #1f1f1f;
}

footer .social-icons {
    margin-bottom: 10px;
}

footer .social-icons a {
    margin: 0 10px;
    display: inline-block;
}

footer .social-icons img {
    width: 30px;
}

footer p {
    margin: 0;
    font-size: 12px;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #111;
}

::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #777;
}
