body {
    margin: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #fff;
    background-color: #121212;
    background-image: repeating-linear-gradient(45deg, #1a1a1a 0, #1a1a1a 1px, #121212 1px, #121212 20px);
    background-size: 20px 20px;
}
#page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;    
  }
main {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #1f1f1f;
    border: 1px solid #333;
    border-radius: 10px;
    color: #fff;
    position: relative;
    z-index: 1;
}

.search {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #333;
    border-radius: 5px;
    width: 80%;
    box-sizing: border-box;
    background-color: #2b2b2b;
    color: #fff;
}

.search button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #32CD32;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search button:hover {
    background-color: #28a745;
}

#artistsList {
    margin-top: 20px;
}

.artist {
    margin-bottom: 15px;
    padding: 15px;
    background-color: #2b2b2b;
    border: 1px solid #444;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.artist:hover {
    background-color: #343434;
}

.artist h2 {
    margin: 0;
    cursor: pointer;
    transition: color 0.3s;
}

.artist h2:hover {
    color: #32CD32;
}
.artist-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.cover-count {
    margin-left: auto;
    padding-left: 10px;
    color: #ffffff;
    font-size: large;
    font-weight: bold;
}

.covers {
    height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: height 0.5s ease, opacity 0.5s ease, transform 0.5s ease;
}

.covers.show {
    height: auto;
    opacity: 1;
    transform: translateY(0);
    transition: height 0.5s ease, opacity 0.5s ease, transform 0.5s ease;
}


.cover-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px;
    background-color: #3c3c3c;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cover-item:hover {
    background-color: #4d4d4d;
}

.cover-item h3 {
    margin: 0;
    flex-grow: 1;
    max-width: calc(50% - 10px);
    overflow: hidden;
    white-space: normal; 
}

.cover-item a {
    color: #32CD32;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.cover-item a:hover {
    color: #28a745;
}

.cover-item img {
    max-width: 100px;
    height: auto;
    margin-right: 10px;
    border-radius: 5px;
}

/* Footer Styling */
footer {
    background: rgba(0, 0, 0, 0.8);
    padding: 1rem 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.footer-icons img {
    height: 40px;
    transition: transform 0.3s ease;
}

.footer-icons img:hover {
    transform: scale(1.1);
}

footer p {
    color: #ffffff;
    font-size: 0.9rem;
}


/* Scrollbar Styles */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #111;
}

::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #777;
}
/* Footer Styling */
footer {
    background: rgba(0, 0, 0, 0.8);
    padding: 1rem 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.footer-icons img {
    height: 40px;
    transition: transform 0.3s ease;
}

.footer-icons img:hover {
    transform: scale(1.1);
}

footer p {
    color: #ffffff;
    font-size: 0.9rem;
}