#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
}

.equipment-section {
    padding: 40px 20px;
    background-color: #121212;
    text-align: center;
}

.equipment-section h1 {
    margin-bottom: 30px;
    font-size: 36px;
    color: #32CD32;
}

.equipment-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.equipment-item {
    background-color: #2c2c2c;
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
    width: calc(33.333% - 40px); /* Three items per row */
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.equipment-item h2 {
    font-size: 24px;
    color: #fff;
    margin-bottom: 2px; /* Closer to h4 */
}

.equipment-item h4 {
    font-size: 18px;
    color: #bbb;
    margin-bottom: 20px; /* Space between h4 and button */
}

.equipment-item .toggle-specs {
    margin-top: 30px; /* Space above button */
    margin-bottom: 20px; /* Space below button */
}

.equipment-item img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.equipment-item ul {
    list-style: none; /* Remove default bullets */
    padding: 0;
    margin: 0;
    text-align: left; /* Align text to the left */
}

.equipment-item ul li {
    background-color: #1f1f1f; /* Background color for list items */
    padding: 10px 15px; /* Padding inside list items */
    margin-bottom: 10px; /* Space between list items */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Font size */
    color: #bbb; /* Text color */
    display: flex; /* Use flexbox */
    align-items: center; /* Center align items */
}

.equipment-item ul li:before {
    content: '\2022'; /* Bullet point */
    color: #32CD32; /* Bullet color */
    font-weight: bold; /* Bullet weight */
    display: inline-block; /* Keep it inline */
    width: 1em; /* Space for bullet */
    margin-left: 0.5em; /* Position bullet */
}

.toggle-specs {
    background-color: #32CD32;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.toggle-specs:hover {
    background-color: #28a745;
    transform: scale(1.05);
}

.specs-list {
    display: none; /* Initially hidden */
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.equipment-item ul li img {
    margin-right: 10px; /* Space between icon and text */
    width: 20px; /* Size of icon */
    height: 20px; /* Size of icon */
}

@media (max-width: 1024px) {
    .equipment-item {
        width: calc(50% - 30px);
    }
}

@media (max-width: 768px) {
    .equipment-item {
        width: 100%;
    }
}
