.hero {
    background: url("../images/MY.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .content {
    background: rgba(0, 0, 0, 0.7);
    padding: 50px;
    text-align: center;
    border-radius: 10px;
}

.hero .content h1 {
    font-size: 48px;
    margin: 0 0 20px;
}

.hero .content .listen-button {
    text-decoration: none;
    color: #fff;
    background: #505050;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    transition: background 0.3s;
}

.hero .content .listen-button:hover {
    background: #242424;
}

/* Media Query for all sizes (test) */
/* For tablets and smaller desktops */
@media (max-width: 1024px) {
    .hero .content {
        padding: 30px;
    }
    .hero .content h1 {
        font-size: 36px;
    }
    .hero .content .listen-button {
        font-size: 16px;
    }
}

/* For tablets and smaller screens */
@media (max-width: 768px) {
    .hero .content {
        padding: 20px;
    }
    .hero .content h1 {
        font-size: 28px;
    }
    .hero .content .listen-button {
        font-size: 14px;
    }
}

/* For mobile phones */
@media (max-width: 480px) {
    .hero .content {
        padding: 10px;
    }
    .hero .content h1 {
        font-size: 24px;
    }
    .hero .content .listen-button {
        font-size: 12px;
        padding: 8px 16px;
    }
}