body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #121212;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1f1f1f;
}

.logo img {
    width: 150px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px; 
    margin: 0;
    padding: 0;
}

nav ul li {
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 15px 20px; 
    font-size: 20px; 
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #32CD32; 
}

nav ul li a::after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background: #32CD32; 
    transition: width 0.3s;
}

nav ul li a:hover::after {
    width: 100%;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #1f1f1f;
}

footer .social-icons {
    margin-bottom: 10px;
}

footer .social-icons a {
    margin: 0 10px;
    display: inline-block;
}

footer .social-icons img {
    width: 30px;
}

footer p {
    margin: 0;
    font-size: 12px;
}




/* scrollbox code for dummy me to find */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #111;
}

::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #777;
}

body::-webkit-scrollbar {
    display: block;
}