body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1f1f1f;
    z-index: 1;
}

header .logo img {
    width: 150px;
}

header nav {
    display: flex;
    align-items: center;
}

header nav .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 30px;
}

header nav .nav-links li {
    margin-left: 20px; 
}

header nav .nav-links li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    line-height: 1;
    padding: 10px 0;  
}

header nav .nav-links li a:hover {
    color: #32CD32;
}



/* Hamburger menu styles */
.navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.navbar-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
}

/* Media query for mobile view */
@media (max-width: 810px) {
    header nav .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #1f1f1f;
        padding: 20px 0;
    }

    header nav .nav-links li {
        margin: 10px 0;
    }

    .navbar-toggle {
        display: flex;
    }
}

/* Show nav links when the menu is active */
.nav-active .nav-links {
    display: flex;
}























/* Media queries to handle responsiveness */
@media (max-width: 810px) {
    .nav-links {
        display: none; /* Hide the navbar links */
    }

    .nav-links.open {
        display: flex; /* Show the navbar links when open class is added */
        flex-direction: column;
    }

    .navbar-toggle {
        display: block; /* Show the hamburger menu */
    }
}



































/* Swear I won't change this footer styling ever, please */
footer {
    background-color: #1f1f1f;
    text-align: center;
    background: #1f1f1f;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

footer .social-icons {
    margin-bottom: 10px;
}

footer .social-icons a {
    margin: 0 10px;
    display: inline-block;
}

footer .social-icons img {
    width: 30px;
}

footer p {
    margin: 0;
    color: #ffffff;
    font-size: 0.9rem;
}

/* Media Queries for footer*/
@media (max-width: 600px) {

    footer .social-icons img {
        width: 25px;
    }

    footer p {
        font-size: 10px;
    }
}
/* Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #111;
}

::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #777;
}

body::-webkit-scrollbar {
    display: block;
}
